body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #ddd;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    float: right;
    display: block;
    color: #312f2f;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #fcf8f8;
    color: rgb(65, 63, 63);
}


.container {
    margin-top: 50px; 
    text-align: center;
}

.profile-card {
    margin: 0;
    padding: 0;
    position: relative;
    width: 220px;
    height: 220px;
    overflow:hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    align-items: center;
    margin-left: 50px;
    margin-top: 15px;
  
    
}
.hero p{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -10px;
}
.hero h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
 }
 

.contact-info,i ,a{
    margin-top: 5px;
    padding-left: 5px;
    color: #8f8d8d;


}

.contact-info :hover ::before{
    color: #f5f8fa;
}

.profile-info {
    display: inline-block;
    vertical-align: middle;
}
.profile-card:hover {
    transform: scale(1.05);
}

.profile-card img {
    width: 100%;
    height: auto;
}
.Name{
    font-size:30px;
}
.profile-info {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.profile-card:hover .profile-info {
    opacity: 1;

}



.hero-left{
  margin-right: 100px;
}
.footer {
    position:fixed; /* Set footer position to absolute */
    bottom: 0; /* Align footer to the bottom of the page */
    width: 100%; /* Set footer width to 100% */
    background-color: #f0f0f0; /* Set background color for the footer */
    padding: 10px 0; /* Add some padding to the footer */
    text-align: center; /* Align text in the center */
}
#contact {
    position:absolute;
    bottom: -70px; 
    width: 100%;
    background-color:rgb(14, 13, 13);
    padding-bottom: 10px;
    padding-top: 40px;
    box-sizing: border-box;
    text-align: center;
    color: #cac9c9;
}
body{
    margin: 0;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}

.Cont h4{
    margin-top: -50px;
    margin-right: -750px;
}
#about-content {
    display: none;
    font-weight: normal;
    
}
.expandable:hover {
    background-color: #a5a4a4;
    color: rgb(14, 14, 14);
}
.expandable {
    margin-bottom: 10px;
    padding: 10px;
    color: #070707;
    text-align: center;
}
    
.about-content ul {
    list-style-type: none;
    padding-left: 0;
}
