:root {
    --main-bg-color: #282c34;
    --text-color: #ffffff;
    --hover-bg-color: #61dafb;
    --hover-text-color: #8b8c8f;
    --profile-bg-color: rgba(40, 44, 52, 0.9);
    --contact-color: #e2e8f0;
    --font-family: 'Roboto', sans-serif;
}

body {
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
}

.navbar {
    background-color: var(--main-bg-color);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

.container-image {
    padding: 100px 20px;
    margin-top: 60px; /* Adjust margin to account for fixed navbar */
}

.profile-card {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    margin: 50px;
    position: relative;
    text-align: center;
    background-color: var(--main-bg-color);
}

.profile-card img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid var(--hover-bg-color);
}

.profile-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--profile-bg-color);
    padding: 10px;
    color: var(--text-color);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.profile-card:hover .profile-info {
    opacity: 1;
}

.profile-card:hover {
    transform: scale(1.05);
}

.contact-info a {
    margin: 5px;
    color: var(--hover-bg-color);
    text-decoration: none;
}

.contact-info a:hover {
    color: var(--hover-text-color);
}

.hero {
    padding: 100px 20px;
    text-align: center;
    background: var(--main-bg-color);
    color: var(--text-color); 
    margin-top: auto;
}

.hero-section {
    max-width: 800px;
    margin: auto;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.section {
    padding: 60px 20px;
    background: #ffffff;
    color: #333;
    border-top: 3px solid var(--hover-bg-color);
}

.section-contact {
    background: var(--contact-color);
    padding: 60px 20px;
}

.section-contact h4 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--main-bg-color);
}

.section-contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.section-contact label {
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    color: var(--main-bg-color);
}

.section-contact input, .section-contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section-contact button {
    padding: 10px;
    background-color: var(--hover-bg-color);
    color: var(--main-bg-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.section-contact button:hover {
    background-color: var(--main-bg-color);
    color: var(--hover-bg-color);
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .container-image {
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
        margin: 20px 0;
        width: 90%;
    }

    .navbar a {
        float: none;
        display: block;
        text-align: center;
    }

    .hero {
        padding: 60px 20px;
    }

    .hero h2 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .section {
        padding: 40px 20px;
    }

    .section-contact {
        padding: 40px 20px;
    }
}

#about-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

#about-content.visible {
    display: block;
    opacity: 1;
    max-height: 500px;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-right: 20px;
}

.expandable, .about-content {
    color: #333;
    margin-left: 0;
    text-align: center;
}

.expandable {
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
}

.expandable:hover {
    color: var(--hover-bg-color);
}
